.section {
  padding-top: 20px;
  padding-bottom: 40px;

  @media screen and (min-width: 768px) {
    padding-top: 45px;
    padding-bottom: 35px;
  }
}

.gallery {
  /* @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin: -15px;
  } */
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin: -15px;
}
.galleryItemCard {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-basis: calc((100% - 3 * 30px) / 3);
  margin: 15px;
}

.galleryItemCard:not(:last-child) {
  margin-bottom: 20px;
}

.card {
  position: relative;
  cursor: pointer;
  border-radius: 4px;
  display: flex;
}

.posterContainer {
  position: relative;
  width: 280px;
  height: 398px;
  margin-bottom: 10px;
  border-radius: 5px;
  object-fit: contain;
  overflow: hidden;
  filter: drop-shadow(4px 4px 4px rgba(55%, 55%, 55%, 0.6));
  box-shadow: 0 0 20px rgba(55%, 55%, 55%, 0.5);

  width: 274px;
}
.posterContainer:hover,
.posterContainer:hover {
  transition: 250ms;
  box-shadow: 0 0 20px rgba(107, 205, 250, 0.897);
}

.textTitle {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;
  text-transform: uppercase;
}

.textGenre {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  color: #3ec1fd;
}

.loadMoreBtn {
  color: #ffffff;
  background: #3ec1fd;

  font-family: inherit;
  font-style: inherit;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;

  border-style: unset;
  border-radius: 4px;
  padding: 12px 36px;
  display: block;
  margin: auto;
  /* // margin-top: 30px; */
  cursor: pointer;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

  filter: drop-shadow(4px 4px 4px rgba(55%, 55%, 55%, 0.6));
  box-shadow: 0 0 20px rgba(55%, 55%, 55%, 0.5);
}

.loadMoreBtn:hover,
.loadMoreBtn:focus {
  transition: 250ms;
  box-shadow: 0 0 20px rgba(107, 205, 250, 0.897);
}

.loadMoreBtn:active {
  color: #3ec1fd;
  background: rgb(255, 252, 252);
}
